.section {
  padding: 8.3vw 0;
}

.mini {
  padding-top: 0;
  padding-bottom: 0;

  .navigationContainer {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
  }
}

.productList {
  display: flex;
  gap: 0.7vw;

  li {
    flex-basis: calc((100% - 4 * 0.7vw) / 5);
  }
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}

.centered {
  position: relative;
  justify-content: center;
}

.prevBtn,
.nextBtn {
  display: block;
  background-color: #fff;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  border-radius: 50%;
  transition: 0.3s ease;
  border: none;
  svg {
    fill: black;
    width: 1.2vw;
    transition: fill 0.3s;
  }
}

@media (min-width: 1024px) {
  .prevBtn:hover,
  .nextBtn:hover {
    background-color: var(--primary);
    border-radius: 0;

    svg {
      fill: white;
    }
  }
}

.swiperController {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabsController {
  display: flex;
  gap: 2.1vw;

  li {
    font-family: Manrope, sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.4vw;
    /* color: rgba(26, 26, 26, 0.1); */
  }
}

.tabsController {
  display: flex;
  gap: 2vw;
}

.tabItem {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 1024px) {
  .tabItem:hover {
    text-decoration: underline;
  }
}

.activeTab {
  font-family: Playfair !important;
  font-size: 1.6vw !important;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6vw !important;
  color: black !important;
}

.mini {
  h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 100%;
    width: auto !important;
  }
}

.swiperController h2 {
  color: #000000;
  width: auto;

  span:nth-child(1) {
    font-family: var(--font-playfair);
    font-size: 2.7vw;
    font-style: italic;
    font-weight: 400;
    line-height: 3.5vw;
  }

  span:nth-child(2) {
    display: block;
    margin-top: -1vw;
    font-family: var(--font-manrope);
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.9vw;
    text-indent: 2vw;
  }
}

.customPagination {
  display: flex;
  justify-content: center;
  gap: 2.1vw;
}

.dot {
  width: 2.1vw;
  height: 2.1vw;
  background-color: #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: black;
}

@media (max-width: 1024px) {
  .section {
    padding: 16vw 0 21vw 0;
  }

  .navigationContainer {
    margin-bottom: 9.6vw;
  }

  .tabsController {
    gap: 6.4vw;

    li {
      font-size: 4.5vw;
    }

    .activeTab {
      font-size: 6vw !important;
    }
  }

  .prevBtn,
  .nextBtn {
    svg {
      width: 6.4vw;
    }
  }

  .swiperController h2 {
    span:nth-child(1) {
      font-size: 9.6vw;
      line-height: 100%;
    }

    span:nth-child(2) {
      margin-top: -1.5vw;
      font-size: 8.5vw;
      line-height: 100%;
      text-indent: 6vw;
    }
  }

  .mini {
    h2 {
      font-size: 6.4vw;
    }

    .navigationContainer {
      margin-bottom: 8.5vw;
    }
  }
}
